@model vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @Model.Name
    @Html.ActionLink(" ", "Edit", "Customer", new { id = @Model.Id }, new { @class = "glyphicon glyphicon-pencil small btn btn-Info btn-sm"})
</h2>

<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (Model.BirthDate != null)
    {
        <li>Date Of Birth: @Model.BirthDate.Value.ToString("dd MMM yyyy")</li>
    }

</ul>