@model vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @Model.Name
    @Html.ActionLink(" ", "Edit", "Movie", new { id = @Model.Id }, new { @class = "glyphicon glyphicon-pencil small btn btn-Info btn-sm" })
</h2>

<ul>
    <li>Genre: @Model.Genre</li>
    <li>Released Date: @Model.ReleaseDate.DayOfWeek, @Model.ReleaseDate.ToString("MMMM"), @Model.ReleaseDate.Year</li>
    <li>Date Added: @Model.DateAdded.DayOfWeek, @Model.DateAdded.ToString("MMMM"), @Model.DateAdded.Year</li>
    <li>Number in Stock: @Model.NumStocks</li>
</ul>